<% if @profile.first_name.nil? %>
  <%= link_to "Add New Profile", new_profiles_path %>
<% end %>

<div class="container">
<div class="row" >
  <div class="col-md">  
    <div class="card card-profile text-center">
      <h1 class="home-title">Quik Connect</h1>
      <img alt="" class="card-img-top" src="https://unsplash.it/340/160?image=354">
      
      <div class="card-block">
        <img alt="" class="card-img-profile text-center" src="https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140">
        <h4 class="card-title">
          <div class= "users-name"> John Smith</div>
            <small>Front-end designer</small>  
          </div>
        </h4>
        <div class="card-body">
          <%= render "message_form", message: @message %>
          <br>
          <br>      
          <%= render "email_form", message: @message %>    
        </div>
      </div>  
    </div>
  </div>
</div>
</div>












