<p>Hi, It was really nice to meet you!</p>
<p>
I loved learning more about the company. I’m really interested to hear more about the available position we discussed. If you have time in the coming weeks, I would love to follow up with you.

Looking forward to keeping in touch!


<p>Here are links to my profiles so we can get connected easily.</p>

<p>
  <% @account_urls.each do |url| %>
    <%= url %><br>  
  <% end %>
</p>
