
<h1 class= "landing-page">GROWING YOUR NETWORK,ONE CONNECT AT A TIME 
<br>
<br>
<br>
<br>
<div align="center"><%= image_tag "logo-Quick-connect.png" %></div>
<button type="button" class="btn btn-outline-secondary-landing">
<%= link_to "Log In", new_user_session_path %>
</button> 
<button type="button" class="btn btn-outline-secondary-landing">
<%=link_to "Sign Up", new_user_registration_path%>
</button>
</h1> 

                 