<div align="center"><%= image_tag "MainLogo2.png" %>
<br>
<h1 class="network-slogan">Making Connections was never so easy!</h1>
<br>
<br>
<button type="button" class="btn btn-primary btn-lg">
<%= link_to "Log In", new_user_session_path %>
</button> 
<button type="button" class="btn btn-primary btn-lg float-righ">
<%=link_to "Sign Up", new_user_registration_path %>
</button>
</div>