// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bg-start: #9d9181;
$bg-end: #9e866c;
$card-bg: #e6e5e1;
$dribbble-color: #ea4b89;
$twitter-color: #68aade;
$facebook-color: #3b5999;

body {
  // background-color: #273f72 !important;
  background-image:url("darker-blue.jpg") ;
    color:rgb(87, 123, 177) !important;
    font-family:'Lucida Grande' !important;
    background-size: auto;
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  a:hover { color:rgb(86, 88, 86); }

}

.landing-page {
  size:20px;
  margin: 400px;
  margin: auto;
  width: 80%;
  height: 80%;
  border: solid rgb(16, 17, 16);
  padding: 100px;
  background-color: #e6e5e1;
  text-align: center;
}
.navbar-brand-one{
    left: 700px;
}

.users-name {
  font-size: 35px;
  font-family: 'Lucida Grande';
}

.form-inputs{
    margin: 50px;

}
.home-title{
    font-size: 75px;
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);

}
.form-style{
  font-size: 30x;
    margin: 80px;
    padding-bottom: 60px
   

}

.message-label{
    font-size: 30x;
    margin: 60px;
   
}
.form-inputs{
 width: 50%; 
  margin: 0 auto;
}

a { color: inherit; } 
.btn-outline-secondary{
  
  color: inherit; 
}
.btn-outline-secondary-landing {
  color: inherit; 
  margin: 40px;
 
}


.card-profile {
  width: 1000px;
  margin: 50px auto;
  background-color: $card-bg;
  border-radius: 0;
  border: 0;
  padding-bottom: 100px;
  box-shadow: 1em 1em 2em rgba(0,0,0,.2);
  
  
  .card-img-top {
    border-radius: 0;
    width: 1000px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
   
  }

  .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 35px;
    border: 5px solid $card-bg;
  }

  .card-title {
    margin-bottom: 100px;

    small {
      display: block;
      font-size: .6em;
      margin-top: .2em;
    }
  }
  
  .card-links {
    margin-bottom: 25px;

    .fa {
      margin: 0 1em;
      font-size: 1.6em;
      
      &:focus,
      &:hover {
        text-decoration: none;
      }
      
      &.fa-dribbble {
        color: $dribbble-color;
        font-weight: bold;
        
        &:hover {
          color: darken($dribbble-color, 10%);
        }
      }
    }
  }
}
